* {
  margin: 0;
  padding: 0;
}
.footer-content {
display: flex;


}
.footer-content button {
  margin-left: 100px;
  background-color: rgba(171, 90, 28, 0.958);
  border: none;
  width: 80px;
 
  border-radius: 5px;
}
.content {
  width: 280px;

  margin: 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgba(45, 197, 159, 0.958);
}
.content textarea {
  border: none;
  background-color: rgba(45, 197, 159, 0.958);
  outline: none;
  width: 100%
}
.body {
  width: 70%;
  margin: 0 auto;
}
.body input {
  width: 100%;
  border-radius: 5px;
  padding: 3px;
  background-color: rgba(99, 206, 179, 0.958);
}
.list-content{
  display: flex;
  
}
.list-content p{
  width: 100%;
}
.reveiw-content{
  padding-bottom: 130px;
}
